* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif' !important;
}

.container-section {    
    position: relative;
    box-shadow: 0 0 10px rgba(43, 34,124, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.about-heading-caption {
    background-color: #2185a0;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}
.about-heading-caption h3 {
    font-size: 42px;
}

.profile-img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-contain-1 {
    display: block;
    position: relative;
    text-align: justify;
}

.profile-contain-1 p {
    font-size: 20px;
    text-align: justify;
}

.profile-contain-1 p > span {
    color: #2185a0;
}