* {
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body {
    padding-top: 56px;
    background: linear-gradient(to right, rgba(18, 73, 95, 0.7), rgba(14, 54, 100, 0.7));    
    /* Adjusted for the fixed navbar height */
    scroll-behavior: smooth;
}

/***** Heading Or Navbaar  *****/

/* Custom styles for the navbar */
.navbar {
    background-color: rgba(1, 55, 204, 0.795)!important;
    /* Navbar background color */
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand {
    font-size: 1.5rem;    
    /* Navbar brand font size */
}
.navbar-brand:hover {

    font-style: italic;
    transition: ease-in-out 2s;     
  
    color: red;
    /* Navbar brand font size */
}


.navbar-toggler {
    border: none;
    /* Remove border for a cleaner look */
}

.navbar-toggler-icon {
    background-color: transparent;
    /* Color of the toggler icon */
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #ffffff;
    /* Navbar link color */
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #ff0000;
    transition: ease-in-out 2s;
    /* Navbar link color on hover */
}


/***** End Heading Or Navbaar  *****/






