* {
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body {
    padding-top: 56px;

    /* Adjusted for the fixed navbar height */
    scroll-behavior: smooth;
}

/***** Heading Or Navbaar  *****/

/* Custom styles for the navbar */
.navbar {
    background-color: rgba(140, 1, 204, 0.795) !important;
    /* Navbar background color */
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand {
    font-size: 1.5rem;
    /* Navbar brand font size */
}

.navbar-brand:hover {

    font-style: italic;
    transition: ease-in-out 2s;

    color: red;
    /* Navbar brand font size */
}


.navbar-toggler {
    border: none;
    /* Remove border for a cleaner look */
}

.navbar-toggler-icon {
    background-color: transparent;
    /* Color of the toggler icon */
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #ffffff;
    /* Navbar link color */
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #ff0000;
    transition: ease-in-out 2s;
    /* Navbar link color on hover */
}


/***** End Heading Or Navbaar  *****/

/***** Body *****/
#contactus {
    padding: 10px;
    background-color: rgba(132, 31, 226, 0.87);
    color: white;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';   

}

.container-section {
    border: #000000 2px solid;
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.7);
    border-radius: 20px;
}


/***** End Body *****/

.heading {
    width: 100%;
    height: 150px;    
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.heading h2 {
    font-weight: bold;
    font-size: 48px;
    padding: 10px;
    line-height: 140px;
}

.text-cont {
    padding: 10px;
}




/***** Form-Contact *****/
.section-con {
    border-left: #000000 10px solid;
    border-radius: 20px;
}

.contact-head-section {
    display: flex;
    justify-content: space-around;
    padding: 15px;

}

.con-image {
    display: flex;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #45a049;
   
}

.con-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    

}

form {
    padding-bottom: 10px;
    border-left-color: #000000 2px solid;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}


.form-body-section {
    
    border-radius: 20px;
}

.contain-contact {

    width: 100%;
    position: relative;
    display: flex;
    height: 100px;

}


.txt {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px !important;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    background: transparent;
    outline: none;

}

.lbl {  
     
    font-size: large;
    margin-bottom: 10px;
}

.txtbox {
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    background: transparent;
    outline: none;
    scroll-behavior: auto;
    overflow: scroll;
    

}

.form-body-section .btn {
    border-radius: 10px;
    margin-top: 20px;
}

.form-body-section .btn:hover {
    background-color: #ff0000;
    color: white;
}




/***** End Form-Contact *****/