* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif' !important;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

/***** Navbar *****/
.header {
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    background-color: #ffffff;
    /* Navbar background color */
    box-shadow: 0px 0px 10px rgba(41, 80, 82, 0.6);
    /* Optional: Add a subtle box shadow */
    border-radius: 5px;

}

.navbar-toggler {
    border: none;
    /* Remove border for a cleaner look */
}

.navbar-toggler-icon {
    background-color: #333;
    /* Color of the toggler icon */
}


.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #333333;
    /* Navbar link color */
}

.navbar-nav .nav-link:hover {
    color: #3cbd00;
    /* Navbar link color on hover */
}

/* Responsive styles */
@media (max-width: 991.98px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .navbar-nav .nav-item {
        margin: 0;
    }

    .navbar-nav .nav-link {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        /* Optional: Add a border between links */
    }
}

/* Optional: Styles for smaller devices (e.g., smartphones) */
@media (max-width: 575.98px) {
    .navbar-brand {
        font-size: 18px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
    }
}

/***** End Navbar *****/

/***** slider *****/

.Slider {
    z-index: -1;
    margin-top: 5%;
}

/* Media queries for different devices */
@media only screen and (max-width: 400px) {

    /* Styles for devices up to 768px width (e.g., smartphones) */
    .Slider {
        margin-top: 8%;

    }

    .Slider .carousel-caption {
        position: absolute !important;
        bottom: 0 !important;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 10px;
        left: 0 !important;
        color: #fff;
        text-align: center;

    }
}

@media only screen and (max-width: 401px) and (max-width: 992px) {

    /* Styles for devices between 769px and 992px width (e.g., tablets) */
    .Slider {
        margin-top: 6%;

    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {

    /* Styles for devices between 993px and 1200px width (e.g., small desktops) */
    .Slider {
        margin-top: 4%;

    }

    .Slider .carousel-caption {
        position: absolute !important;
        bottom: 0 !important;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 10px;
        left: 0 !important;
        color: #fff;
        text-align: center;

    }

}

/* Add more media queries as needed for larger devices */



.Slider .carousel {
    width: 100%;
    height: 400px;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    max-height: 100%;
    width: auto;
}

.carousel-caption {
    position: absolute !important;
    bottom: 0 !important;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    left: 0 !important;
    color: #fff;
    text-align: center;

}

/***** End slider *****/