* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    /* Adjusted for the fixed navbar height */
    scroll-behavior: smooth;
    font-family: "Cambria", "Cochin", "Georgia", "Times", "Times New Roman",
        "serif";
}

#material-menu-bar {
    background-color: #2185a0;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-bar-material {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
}

.menu-bar-material ul {
    display: flex;
    list-style: none;
    position: relative;
    padding-top: 10px;

}

.menu-bar-material ul>li {
    margin-right: 20px;
}

.menu-bar-material ul>li>a {
    color: white;
    font-size: 16px;
    padding: 15px;
    text-decoration: none;

}

.menu-bar-material ul>li>a:hover {
    color: white;
    background-color: #25a989;
    border-radius: 10px;

}

/* Main Contain */



.heading-mateiral-wrapper {
    background-color: #2185a0;
    padding: 50px;
    color: white;
}

.heading-material h2 {
    padding-bottom: 10px;
    border-bottom: 3px solid #01ffc1;
}

.section {
    padding-top: 30px;
    background-color: #e9eef061;
    margin-top: 20px;
}

.intro-material {
    text-align: justify;
    padding-bottom: 50px;
    cursor: pointer;
}

.intro-material p span {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}

/* Slider of what is stainless steel */


.slider-material-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide-material-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

..slide-material-img img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

/* Composation Property */

.appli-stainless {
    background-color: #e9eef061;
    padding-top: 20px;
    padding-bottom: 10px;
}

.m-types {
    padding: 10px;
}

.material-types {
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    background-color: #e9eef061;

}

.ss-compo-wrapper {
    position: relative;
    margin-right: 20px;
    padding: 10px;
}

.ss-compo-wrapper h2 {
    font-weight: bold;
    border-bottom: 3px solid #01ffc1;
    padding-bottom: 10px;

}

.ss-compo-wrapper p {
    text-align: justify;

}

.ss-compo-wrapper p>span {
    font-weight: bold;
    color: black;
}

.compo-chart {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.compo-chart img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;

}

/* Types of stainless */

.sub-part {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: #e9eef061;
    margin-bottom: 20px;
}


.m-types-dim {
    position: relative;
    display: block;
}

.types-heading {
    position: relative;
    cursor: pointer;
}

.type-heading h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #01ffc1;
    margin: 0;

}

.sub-heading {
    font-size: 22px;    
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid #01ffc1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        margin-left: 0;
    }

    .section h2 {
        font-size: 28px;
    }

    .heading-material p,
    .intro-material p {
        font-size: 14px;
    }

    .slide-material-img img {
        margin-bottom: 10px;
    }

    .ss-compo-wrapper h2 {
        font-size: 24px;
    }

    .sub-heading {
        font-size: 20px;
    }

    .types-heading h2 {
        font-size: 24px;
    }
}