* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body {
    scroll-behavior: smooth;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif' !important;
}

.category {
    display: block;
    position: relative;
    padding: 10px;    
}

.category ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

.category ul>li> .btn {
    width: auto;
    padding: 10px;
    border-radius: 1px solid red;
}



/* Right product list bar */

.cat-section {
    padding-right: 20px;
    padding-left: 20px;
    z-index: -1;
}
.category {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Style for the category header */

.category-header {
    background-color: #f9f9f9;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    border: 1px solid #ccc;
}
/* Style for the category content (product list) */

.category-content {
    display: none;
    padding: 10px;
}
/* Style for the product list items */

.product-item {
    margin-bottom: 5px;
}
/* Style for the collapsible icon */

.collapsible-icon {
    float: right;
}